@inherits LayoutComponentBase
@inject NavigationManager Navigation

<main class="chat-main">
    <article class="content chat-content">
        @Body
    </article>
</main>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>

@code {
}
